@import "../core/variables";
@import "../core/mixins";

.section__data {
  padding: 20px 50px;
  background-color: $background_bottom_color;
  @include desktop {
    padding: 20px 18%;
  }
}
