@import "../core/variables";
@import "../core/mixins";

.header {
  display: flex;
  justify-content: space-between;
  &__title {
  }
  &__nav {
    &--list {
      display: flex;
      gap: 15px;
      &--item {
      }
    }
  }
  &__section {
    display: flex;
    &--wrap {
      display: flex;
    }
  }
}

.link {
  text-decoration: none;
}
