@import "../core/variables";
@import "../core/mixins";

.section__info {
  padding: 20px 50px;
  background-color: $background_top_color;
  @include tablet {
    padding: 20px 18%;
  }
}

.article {
  display: flex;
  justify-content: space-between;
  &__wrap {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
    &--title {
      font-size: 25px;
      font-weight: 700;
    }
    &--text {
      font-size: 12px;
      line-height: 20px;
      width: 360px;
    }
  }
  &__config {
    width: 120px;
    padding: 15px;
    line-height: 20px;
    font-size: 14px;
    border: solid 1px $line_color;

    &--title {
      text-transform: uppercase;
      font-weight: 700;
    }
    &--text {
      display: flex;
      align-items: center;
      gap: 7px;
      padding-top: 10px;
      font-weight: 700;
      color: $header_color;
    }
  }
}

.aside {
  font-size: 14px;
  font-weight: 700;

  &__list {
    display: flex;
    gap: 25px;
    &--item {
      display: flex;
      align-items: center;
      &--wrap {
        display: flex;
        align-items: center;
        gap: 5px;
        border-right: 3px solid $line_color;
        padding-right: 25px;
        height: 40px;
      }
      &--img {
        color: $line_color;
      }
      &--text {
        text-transform: uppercase;
        color: $subtext_color;
      }
    }
  }
}

.icon {
  width: 20px;
}

//responsive version
.article__responsive {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: solid 1px $line_color;
  &--title {
    text-transform: uppercase;
    font-weight: 700;
    width: 150px;
  }
  &--wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    &--item {
      text-align: center;
    }
  }
}
