@import "../core/variables";
@import "../core/mixins";

//section table
.section__table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  padding: 20px 50px;

  @include desktop {
    padding: 20px 18%;
    width: 100%;
    table-layout: auto;
  }

  td {
    // text-align: center;
    border-bottom: 1px solid $line_color;
    border-top: 1px solid $line_color;
  }
}

tr:nth-child(odd) {
  background-color: $background_top_color;
}

.thead__categories {
  font-size: 12px;
  font-weight: 700;
  padding: 8px;
  text-transform: uppercase;
  background-color: $background_bottom_color;
  color: $subtitle_color;
  border-top: 1px solid $line_color;
  text-align: left;
  &--wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    @include desktop {
      font-size: 14px;
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 10px;
    }
  }
}

.td__categories {
  font-size: 12px;
  text-align: left;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  @include desktop {
    font-size: 14px;
  }

  &--incidencia {
    display: flex;

    gap: 15px;
    &--element {
      display: flex;
    }
  }
  &--draft {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    color: $link_color;
  }
}

.reference {
  width: 5ch;
}

.center {
  text-align: center;
}

.element {
  width: 15px;
}

//section table - footer

.section__tfoot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 10px;
  color: $header_color;
  &--text {
    font-size: 12px;
  }
  &--btn {
    border: none;
    font-size: 12px;
  }
  &--btns {
    border: none;
    font-size: 12px;
  }
  &--form {
    &--select {
      padding: 5px;
    }
  }
  &--wrap {
    &--notification {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
    }
    &--text {
      font-size: 12px;
    }
  }
}

.arrow {
  width: 15px;
}

th {
  width: 20px;
}

th + th {
  width: auto;
}
td {
  width: 20px;
}
td + td {
  width: auto;
}
