//fonts
$font-web: "Open Sans", sans-serif;
//colors
$text_color: #212529ff;
$subtext_color: #b0b4b3ff;
$title_color: #c4baabff;
$subtitle_color: #a19279ff;
$background_top_color: #ffffffff;
$background_bottom_color: #f5f4f1ff;
$header_color: #626968ff;
$line_color: #ddddddff;
$details_color: #cfc460ff;
$open_color: #b3d583ff;
$link_color: #1677abff;
$box_color: #e7e6e3ff;
$btn_color: #f8f8f7ff;
$first-notification_color: #ffc36aff;
$second-notification_color: #ff906bff;
