//fonts

//colors
$text_color: #212529ff;
$background_top_color: #ffffffff;
$background_bottom_color: #f5f4f1ff;
$header_color: #626968ff;
$details_color: #cfc460ff;
$open_color: #b3d583ff;
$link_color: #3288b5ff;
$title_color: #c4baabff;
